<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head"></head>
    <body>
        <div th:replace="layout/layout :: loader"></div>
        <div id="pcoded" class="pcoded">
            <div th:replace="layout/layout :: pcoded_box"></div>
            <div class="pcoded-container navbar-wrapper">
                <nav th:replace="layout/layout :: navbar"></nav>
                <div th:replace="layout/layout :: sidebar"></div>
                <div th:replace="layout/layout :: showChat"></div>
                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        <nav th:replace="layout/layout :: navbar_navegation"></nav>
                        <div class="pcoded-content">
                            <!--Aqui es el RenderBody-->
                            <button id="btnImagen" class="btn btn-success">Iniciar</button>
                            <div>
                                <span id="status"></span>
                                <div id="box"></div>
                            </div>
                        </div>
                        <div th:replace="layout/layout :: styleSelector"></div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="layout/layout :: footer"></footer>
        <script>
            var btnImagen = document.getElementById('btnImagen');
            var w;
            btnImagen.addEventListener('click', function () {

                if (typeof (Worker) !== "undefined") {

                    if (typeof (w) === "undefined") {
                        w = new Worker("../js/sebas/RealizarSesionTratamiento/WorkerSimulacion.js");
                    }
                    w.onmessage = function (event) {
                        //$("#box").html(
                       // $('<img>').attr('id', 'desktop').attr('src', 'data:image/jpeg;base64,' + event.data));
                       console.log("1");
                    };
                } else {

                }
                alert('xd');
            });

        </script>
        <script th:src="@{/js/sebas/RealizarSesionTratamiento/WorkerSimulacion.js}"></script>


    </body>
</html>

