<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head"></head>
    <link rel="stylesheet" th:href="@{/css/sebas/style.css}">
    <link rel="stylesheet" th:href="@{/css/sebas/RealizarSesionTratamiento/style.css}">
    <body>
        <div th:replace="layout/layout :: loader"></div>
        <div id="pcoded" class="pcoded">
            <div th:replace="layout/layout :: pcoded_box"></div>
            <div class="pcoded-container navbar-wrapper">
                <nav th:replace="layout/layout :: navbar"></nav>
                <div th:replace="layout/layout :: sidebar"></div>
                <div th:replace="layout/layout :: showChat"></div>
                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        <nav th:replace="layout/layout :: navbar_navegation"></nav>
                        <div class="pcoded-content">
                            <!--Aqui es el RenderBody-->
                            <div class="container mt-2 py-2">
                                <div class="card bg-light">
                                    <h2 class="text-secondary card-header" th:text="${titulo}"></h2>
                                    <div class="card-body">
                                        <div th:each="pregunta : ${preguntas}">
                                            <div class="card bg-white">
                                                <div class="card-header pregunta">
                                                    <a href="#">
                                                        <img th:if="${#strings.length(usuario.detalleUsuario.detUsuImagen) > 0}"
                                                             class="img-radius" style="width: 50px !important; height: 50px"
                                                             th:src="@{'/SRVTFLrepo/' + ${usuario.detalleUsuario.detUsuImagen}}" th:alt="${usuario.detalleUsuario.detUsuImagen}"/>    
                                                    </a> 
                                                    <div class="pregunta-text">
                                                        <h2 class="text-secondary" th:text="${pregunta.pregPregunta}"></h2> 
                                                    </div>

                                                </div>
                                                <div class="card-body">
                                                    <textarea class="form-control respuestas" name="respuesta[]" rows="3" placeholder="Registre Respuesta del Paciente" th:attr="data-id=${pregunta.pregId}" th:id="'Respuesta'+${pregunta.pregId}"></textarea>
                                                    <div>
                                                        <span th:id="'RespuestaError'+${pregunta.pregId}"></span>
                                                    </div>
                                                    <input type="hidden" class="Id" th:value="${pregunta.pregId}" />
                                                </div>
                                                <div class="card-footer text-right footer-pregunta">
                                                    <div class="pregunta-text mr-2 pr-2">
                                                        <h2 class="text-secondary" th:text="${cita.paciente.nombreCompleto()}"></h2> 
                                                    </div>
                                                    <img th:if="${(cita.paciente.pacImagen) == null || (cita.paciente.pacImagen == '')}"
                                                         class="img-thumbnail rounded" style="width: 100% !important;height: auto !important;border: dashed blueviolet"
                                                         th:src="@{'/SRVTFLrepo/' + 'usuario_normal.png'}" th:alt="usuario_normal" id="imagenId"/>
                                                    <img th:if="${#strings.length(cita.paciente.pacImagen) > 0 && cita.paciente.pacImagen != null}"
                                                         class="img-radius" style="width: 50px !important; height: 50px"
                                                         th:src="@{'/SRVTFLrepo/' + ${cita.paciente.pacImagen}}" th:alt="${cita.paciente.pacImagen}"/>
                                                </div>
                                            </div>                                   
                                        </div>
                                        <div class="mt-2 row">
                                            <div class="col-sm-8 col-12">
                                                <nav th:replace="Usability/paginator-nav :: paginator"></nav>
                                            </div>
                                            <div class="col-sm-4 text-right col-12">
                                                <button class="btn btn-success  btn-SesionTratamiento" id="btnRegistrarRespuestas">
                                                    <i class="fa fa-file" style="font-size: 20px !important"></i>
                                                    Registrar Preguntas
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="text" class="d-none" id="citId" th:value="${cita.citId}" />
                            </div>
                        </div>
                        <div th:replace="layout/layout :: styleSelector"></div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="layout/layout :: footer"></footer>
        <script th:src="@{/js/sebas/RealizarSesionTratamiento/RegistrarRespuestas.js}"></script>
    </body>
</html>
