<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head">
    </head>
    <body>
        <input type="text" id="notificacionMensaje" name="notificacionMensaje" class="form-control" />
        <button type="button" id="btnEnviar">Enviar Notificacion</button>
        <button type="button" id="btnRegistrar">Registrar</button>
        <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>
