<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head"></head>
    <body>
        <div th:replace="layout/layout :: loader"></div>
        <div id="pcoded" class="pcoded">
            <div th:replace="layout/layout :: pcoded_box"></div>
            <div class="pcoded-container navbar-wrapper">
                <nav th:replace="layout/layout :: navbar"></nav>
                <div th:replace="layout/layout :: sidebar"></div>
                <div th:replace="layout/layout :: showChat"></div>
                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        <nav th:replace="layout/layout :: navbar_navegation"></nav>
                        <div class="pcoded-content">
                            <!--Aqui es el RenderBody-->


                            <div class="container py-4">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <div class="form-group row text-secondary border border-success border-top-0 border-left-0 border-right-0">

                                            <h2 class="card-header col-md-8" th:text="${titulo}"></h2>

                                            <a class="btn btn-outline-secondary btn-xs col-md-4 align-content-center m-t-15 m-b-20" th:href="@{/Administrador/GestionarUsuarios}">
                                                
                                                 <i class="fa fa-chevron-left"></i>
                                                    <span class="btn-text">Volver a la Gestion de Usuario</span>
                                            </a>
                                        </div>

                                        <div class="m-b-15 card p-l-15 col-sm-12">
                                            <h2 class="card-header text-secondary border border-success border-top-0 border-left-0 border-right-0 m-b-10 m-l-10 m-r-10" 
                                                th:text="'Datos Personales'"></h2>
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <div class="form-group row m-t-25 m-l-25">
                                                        <label for=""class="col-sm-3 col-form-label"
                                                               th:text="'Nombre Completo:'"></label>
                                                        <div class="col-sm-9">
                                                            <input type="text" disabled="disabled" th:value="${detUsu.detUsuNombre}" class="form-control col-sm-12"/>            
                                                        </div>
                                                    </div>

                                                    <div class="form-group row m-l-25">
                                                        <label for=""class="col-sm-3 col-form-label"
                                                               th:text="'E-Mail:'"></label>
                                                        <div class="col-sm-9">
                                                            <input type="text" disabled="disabled" th:value="${detUsu.detUsuCorreo}" class="form-control col-sm-12"/>            
                                                        </div>
                                                    </div>


                                                    <div class="form-group row m-l-25">
                                                        <label for=""class="col-sm-3 col-form-label"
                                                               th:text="'Direccion:'"></label>
                                                        <div class="col-sm-9">
                                                            <input type="text" disabled="disabled" th:value="${detUsu.detUsuDireccion}" class="form-control col-sm-12"/>            
                                                        </div>
                                                    </div>

                                                    <div class="form-group row m-l-25">
                                                        <label for=""class="col-sm-3 col-form-label"
                                                               th:text="'Telefono:'"></label>
                                                        <div class="col-sm-9">
                                                            <input type="text" disabled="disabled" th:value="${detUsu.detUsuTelefono}" class="form-control col-sm-12"/>            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                <img th:if="${detUsu.detUsuImagen != null}"
                                                     class="img-thumbnail img-fluid rounded col-sm-12 m-t-20" style="max-width: 100%"
                                                     th:src="@{'/SRVTFLrepo/' + ${detUsu.detUsuImagen}}" th:alt="${detUsu.detUsuImagen}" />
                                                <img th:if="${detUsu.detUsuImagen == null}"
                                                     class="img-thumbnail img-fluid rounded col-sm-12 m-t-20" style="max-width: 100%"
                                                     th:src="@{'/SRVTFLrepo/' + 'usuario_normal.png'}" />
                                                </div>
                                                </div>

                                            <!--falta el selector para el tipo de documento-->
                                            <div class="form-group row m-l-25 m-t-15">

                                                <label for=""class="col-sm-3 col-form-label"
                                                       th:text="'Numero de Documento:'"></label>
                                                <div class="col-sm-3">
                                                    <input type="text" disabled="disabled" th:value="${detUsu.detUsuTipoDocNumero}" class="form-control"/>            
                                                </div>
                                                <label for=""class="col-sm-2 col-form-label"
                                                       th:text="'Tipo Documento:'"></label>
                                                <div class="col-sm-4">
                                                    <input type="text" disabled="disabled" th:value="${detUsu.tipDocId.tipDocNombre}" class="form-control"/>            
                                                </div>
                                            </div>

                                            <div class="form-group row m-l-25">
                                                <label for=""class="col-sm-3 col-form-label"
                                                       th:text="'Fecha de Nacimiento'"></label>
                                                <div class="col-sm-3">
                                                    <input type="date" disabled="disabled" th:value="${detUsu.detUsuFechaNacimiento}" class="form-control"/>            
                                                </div>
                                                <label for=""class="col-sm-2 col-form-label"
                                                       th:text="'Lugar Nacimiento:'"></label>
                                                <div class="col-sm-4">
                                                    <input type="text" disabled="disabled" th:value="${detUsu.detUsuLugarNacimiento}" class="form-control"/>            
                                                </div>
                                            </div>

                                            <div class="form-group row m-l-25">
                                                <label for=""class="col-sm-3 col-form-label"
                                                       th:text="'Estado Civil'"></label>
                                                <div class="col-sm-3">
                                                    <input type="text" disabled="disabled" th:value="${detUsu.detUsuEstadoCivil}" class="form-control"/>            
                                                </div>
                                                <label for=""class="col-sm-2 col-form-label"
                                                       th:text="'Sexo:'"></label>
                                                <div class="col-sm-4">
                                                    <input type="text" disabled="disabled" th:field="${detUsu.detUsuSexo}" class="form-control"/>            
                                                </div>
                                            </div>

                                        </div>

                                        <div class="m-b-15 card p-l-15 col-sm-12">
                                            <h2 class="card-header text-secondary border border-success border-top-0 border-left-0 border-right-0 m-b-10 m-l-10 m-r-10" 
                                                th:text="'Otros Datos de la Cuenta'"></h2>

                                            <div class="form-group row m-l-25 m-t-25">
                                                <label for=""class="col-sm-4 col-form-label"
                                                       th:text="'Codigo de Colegio:'"></label>
                                                <div class="col-sm-8">
                                                    <input type="text" disabled="disabled" th:value="${detUsu.detUsuCodigoColegio}" class="form-control col-sm-12"/>            
                                                </div>
                                            </div>

                                            <div class="form-group row m-l-25">
                                                <label for=""class="col-sm-4 col-form-label"
                                                       th:text="'Especialidad:'"></label>
                                                <div class="col-sm-8">
                                                    <input type="text" disabled="disabled" th:value="${detUsu.detUsuEspecialidad}" class="form-control col-sm-12"/>            
                                                </div>
                                            </div>

                                            <div class="form-group row m-l-25">
                                                <label for=""class="col-sm-4 col-form-label"
                                                       th:text="'Ocupacion:'"></label>
                                                <div class="col-sm-8">
                                                    <input type="text" disabled="disabled" th:value="${detUsu.detUsuOcupacion}" class="form-control col-sm-12"/>            
                                                </div>
                                            </div>

                                            <div class="form-group row m-l-25">
                                                <label for=""class="col-sm-4 col-form-label"
                                                       th:text="'Religion:'"></label>
                                                <div class="col-sm-8">
                                                    <input type="text" disabled="disabled" th:value="${detUsu.detUsuReligion}" class="form-control col-sm-12"/>            
                                                </div>
                                            </div>

                                            <div class="form-group row m-l-25">
                                                <label for=""class="col-sm-4 col-form-label"
                                                       th:text="'Roles'"></label>
                                                <div class="col-sm-8">
                                                    <input type="text" th:value="${roles}" disabled="disabled" class="form-control col-sm-12"/>            
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <a class="btn btn-outline-secondary btn-xs col-sm-12 align-content-end" th:href="@{/Administrador/GestionarUsuarios}"> 
                                                    <i class="fa fa-chevron-left"></i>
                                                    <span class="btn-text">Volver a la Gestion de Usuario</span>
                                                </a>
                                                
                                            </div>
                                        </div>
                                        <!--input type="hidden" th:field="*{usu_id}" /-->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:replace="layout/layout :: styleSelector"></div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>