/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 oct. 2019, 20:59:45
    Author     : USUARIO
*/

.label-size {
    font-size: 18px !important;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bolder;
}
.icon-tratamiento {
    font-size: 18px !important;
    padding-left: 2px !important;
    margin-left: 1px !important;
}
.btn-SesionTratamiento {
    border-radius: 50px !important;
}
.pregunta {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pregunta .pregunta-text {
    padding-left: 2% !important;
}
.pregunta .pregunta-text h2 {
    font-size: 30px !important;
}
.footer-pregunta {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.card-altura {
    height: 20px;
}
.btnDiagnostico {
    margin-top: 20% !important;
    margin-left: 50% !important;
}