<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head"></head>
    <body>
        <div th:replace="layout/layout :: loader"></div>
        <div id="pcoded" class="pcoded">
            <div th:replace="layout/layout :: pcoded_box"></div>
            <div class="pcoded-container navbar-wrapper">
                <nav th:replace="layout/layout :: navbar"></nav>
                <div th:replace="layout/layout :: sidebar"></div>
                <div th:replace="layout/layout :: showChat"></div>
                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        <nav th:replace="layout/layout :: navbar_navegation"></nav>
                        <div class="pcoded-content">
                            <!--Aqui es el RenderBody Osea donde se muestra todo
                            Nota: no uses nombres de anotaciones de C# en Spring , los tepecitos se
                            confunden-->

                            <div class="container py-4">
                                <div class="card bg-light">
                                    <div class="card-header">
                                        <h2 class="text-secondary border border-success border-top-0 border-left-0 border-right-0" th:text="${titulo}"></h2>
                                    </div>
                                    <div th:object="${cita}" th:remove="tag">
                                        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger m-l-10 m-r-10">
                                            <li th:each="err: ${#fields.errors('*')}"
                                                th:text="${err}"></li>

                                        </ul>
                                    </div>
                                    <div class="card-body" th:object="${cita}">

                                        <div class="form-group row">
                                            <label for="buscar_paciente"class="col-sm-2 col-form-label"
                                                   th:text="'Paciente: '"></label>
                                            <div class="col-sm-5">
                                                <input type="text" name="buscar_paciente" id="buscar_paciente" th:value="${cita.paciente.pacNombre}+' '+ ${cita.paciente.pacApellido}" class="form-control" />                           
                                                <div id="buscar_pacienteError"></div>
                                            </div>
                                            <label for=""class="col-sm-1 col-form-label"
                                                   th:text="'Doc.: '"></label>
                                            <div class="col-sm-3">
                                                <input disabled="disabled" type="text" th:value="${cita.paciente.pacNumeroDocumento}" name="documentoPaciente" id="documentoPaciente" class="form-control" />                           
                                                <div id="buscar_pacienteError"></div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                             <label for="buscar_psicologo"class="col-sm-2 col-form-label"
                                                   th:text="'Psicologo: '"></label>
                                            <div class="col-sm-5">
                                                <input type="text" name="buscar_psicologo" th:value="${psicologo.detUsuNombre}" id="buscar_psicologo" class="form-control" />                           
                                                <div id="buscar_psicologoError"></div>
                                            </div>
                                            <label for=""class="col-sm-1 col-form-label"
                                                   th:text="'Doc.: '"></label>
                                            <div class="col-sm-3">
                                                <input disabled="disabled" type="text"  th:value="${psicologo.detUsuTipoDocNumero}" name="documentoPsicologo" id="documentoPsicologo" class="form-control" />                          
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label  class="col-sm-2 col-form-label"
                                                    th:text="'Motivo de la cita: '"></label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" 
                                                       th:value="${cita.citMotivo}"
                                                        id="citMotivo"/> 
                                                <div id="citMotivoError"></div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label  class="col-sm-2 col-form-label"
                                                    th:text="'Fobia Especifica: '"></label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control disabled" th:classappend="${cita.tratId != null} ? disabled : userclass"
                                                       id="buscar_fobia" th:value="${fobia}"/>
                                                <div id="buscar_fobiaError"></div>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label  class="col-sm-2 col-form-label"
                                                    th:text="'Fecha de la Cita: '"></label>
                                            <div class="col-sm-9">
                                                <input type="text" id="citFecha" class="form-control"
                                                       th:value="${date}"/>
                                                
                                                <div id="citFechaError"></div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label"
                                                   th:text="'Hora de Inicio'"></label>
                                            <div class="col-sm-4">
                                                <input type="time" class="form-control" 
                                                       id="fechaHoraInicio" th:value="${horaIni}"/>
                                                <div id="fechaHoraInicioError"></div>
                                            </div>
                                            <label  class="col-sm-2 col-form-label"
                                                    th:text="'Duracion: '"></label>
                                            <div class="col-sm-3">
                                                <input type="time" min="25" max="60" id="duracionCita" class="form-control"/>
                                                <div id="duracionCitaError"></div>
                                                <label  class="col-form-label"
                                                    th:text="'Duracion Actual: ' + ${duracion}"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            
                                                <button class="btn btn-outline-success col-sm-5" style="width:705px" id="actualizarCitas">
                                                    <i class="fa fa-check"></i>
                                                    <span class="btn-text">Actualizar Cita</span>
                                                </button>  
                                            
                                            <a class="btn btn-outline-secondary col-sm-4 m-l-5" style="margin: auto" th:href="@{/Recepcionista/GestionarCitas}">
                                                    <i class="fa fa-chevron-left"></i>
                                                    <span class="btn-text">Volver a la Gestion</span>
                                                </a>
                                        </div>
                                        <input type="hidden"   id="fechaCit" th:value="${date}"/>
                                        <input type="hidden"   id="duracion" th:value="${duracion}"/>
                                        <input type="hidden"   id="citId" th:value="${citId}"/>
                                        <!-- comentado para utilizar una variable session -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div th:replace="layout/layout :: styleSelector"></div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
    <script th:replace="Recepcionista/js/autocomplete-paciente-primCita :: javascript5"></script>
    <script th:replace="Recepcionista/js/autocomplete-psicologo-tratamiento :: javascript2"></script>
    <script th:replace="Recepcionista/js/autocomplete-fobia :: javascript3"></script>
    <script th:src="@{/js/bootstrap-datepicker.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.css}">
    <script>
        $(function () {
            $('#citFecha').datepicker({
                'format': 'yyyy-mm-dd',
                'autoclose': true,
                language: 'es-ES',
            });
        });
    </script>
    <script th:src='@{/js/chocolombo/RegistrarCita.js}'></script>
</body>
</html>
