<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
  
    <body>
<script type="text/javascript" th:fragment="javascript">
	$(document).ready(function(){
		
		$("#buscar_rol").autocomplete({
			
			source: function(request, response){
				$.ajax({
					url:"/Administrador/cargar-roles/" + request.term,
					dataType: "json",
					data: {
						term: request.term
					},
					success: function(data){
						response($.map(data, function(item){
							return {
								value: item.id,
								label: item.nombreRol,
							};
						}));
					},
				});
			},
			
			select: function(event, ui){
				//$("#buscar_rol").val(ui.item.label);
                                
                                if(itemsHelper.hasRol(ui.item.value) === true){
                                    return false;
                                }
                                
                                var linea = $("#plantillaRolesUsuario").html();
                                linea = linea.replace(/{ID}/g,ui.item.value);
                                linea = linea.replace(/{NOMBRE}/g,ui.item.label);
                                $("#cargarRolesUsuario tbody").append(linea);
				/*if(itemsHelper.hasProducto(ui.item.value)){
					itemsHelper.incrementaCantidad(ui.item.value,ui.item.precio);
					return false;
				}
				
				var linea = $("#plantillaItemsFactura").html(); //obtiene el contenido del componente HTML
				linea = linea.replace(/{ID}/g, ui.item.value);
				linea = linea.replace(/{NOMBRE}/g, ui.item.label);
				linea = linea.replace(/{PRECIO}/g, ui.item.precio);
				//cambiando los valores que tendra cada linea
				
				$("#cargarItemProductos tbody").append(linea);
				itemsHelper.calcularImporte(ui.item.value,ui.item.precio,1);*/
				
				return false;
			}
		});
                
                $('#btnRegistrar').click(function(){
			$("#plantillaRolesUsuario").remove();
			return;
		});
	}
        );
        
        var itemsHelper = {
            hasRol: function(id){
                var res = false;
                $('input[name="item_id[]"]').each(function(){
                    if(parseInt(id) === parseInt($(this).val())){
                        res = true;
                    }
                });
                return res;
            },
            eliminarRol: function(id){
                $("#row_"+id).remove();
            },
            
            setFieldSize: function(index){
                
                var b = document.getElementById("numeroDoc");
                var c = document.getElementById("tipoDoc");
                
                if(c.selected === "1"){
                    b.setAttribute("maxlength","8");
                }else{
                    b.setAttribute("maxlength","11");
                }
            }
            
        }
        
</script>
</body>
    
</html>
